[flake8]
# Исключаем директории из проверки.
# Можно добавлять пути через запятую.
# Поддерживаются wildcards (*).
exclude =
    .git,
    __pycache__,
    venv,
    */migrations/,
    */static/,
    */legacy/
    
# Устанавливаем максимальную длину строки.
# Стандарт Black - 89, стандарт Flake8 по умолчанию - 79.
# Лучше привести их к одному значению.
max-line-length = 120

# Игнорируем определенные ошибки глобально (если нужно).
# Например, E501 - 'line too long' (уже контролируется max-line-length)
# W503 - 'line break before binary operator' (конфликтует с Black)
ignore = W503,E203,F401,F841,F811,F403,F405,E402,E722
